<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body >
    <div class="video-container" id="video-container">
        <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Video Feed">
    </div>
    <div class="overlay" id="overlay">

        <!-- Left side controls for new functions -->
        <div class="left-controls">
            <button class="btn delivery-btn" data-direction="open_delivery">
                <i class="fas fa-box-open"></i>
            </button>
            <button class="btn delivery-btn" data-direction="close_delivery">
                <i class="fas fa-box"></i>
            </button>
            <button class="btn speed-btn" data-direction="increase_speed">
                <i class="fas fa-tachometer-alt"></i>
                <i class="fas fa-plus speed-indicator"></i>
            </button>
            <button class="btn speed-btn" data-direction="decrease_speed">
                <i class="fas fa-tachometer-alt"></i>
                <i class="fas fa-minus speed-indicator"></i>
            </button>
            <button class="btn horn-btn" onclick="playHorn()">
                <i class="fas fa-bullhorn"></i>
            </button>
        </div>
        
        
        <!-- Right side controls for movement -->
        <div class="right-controls">
            <button class="btn stop-btn" data-direction="stop">
                <i class="fas fa-stop"></i>
            </button>
            <button class="btn up-btn" data-direction="move_forward">
                <i class="fas fa-arrow-up"></i>
            </button>
            <button class="btn left-btn" data-direction="move_left">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button class="btn right-btn" data-direction="move_right">
                <i class="fas fa-arrow-right"></i>
            </button>
            <button class="btn down-btn" data-direction="move_backward">
                <i class="fas fa-arrow-down"></i>
            </button>
            <button class="btn camera-up-btn" data-direction="camera_up">
                <i class="fas fa-video"></i>
                <i class="fas fa-arrow-up"></i>
            </button>
            <button class="btn camera-down-btn" data-direction="camera_down">
                <i class="fas fa-video"></i>
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>             
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
        
</body>
</html>