<!-- templates/qr_scan.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='qr_scan.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="scanner-container">
            <div class="video-wrapper">
                <img id="video-feed" src="{{ url_for('video_feed_qr') }}" alt="Video Feed">
            </div>
        </div>
        <div class="navigation">
            <a href="/" class="nav-button">Back to Controls</a>
        </div>
    </div>
</body>
</html>